<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Movie recommender</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
    <link rel="stylesheet" href="static/assets/css/autocomplete.css">
</head>

<body id="gradient">
    <section style="align-content: center; margin-top: 150px;">
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center text-center your-text" style="height: 50%;padding: 0px; margin-bottom: 20px;">
            <h1 class="tex" style="margin: 2px 0px 0px;">What to watch next?</h1>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card m-auto" style="max-width:850px">
                    <div class="card-body">
                        <form autocomplete="off" action="{{ url_for('hello') }}" method="POST" class="d-flex align-items-center">
                            <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                            <div class="autocomplete">
                                <input id="myInput" class="border rounded-0 border-dark form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" placeholder="Enter your favorite movie"
                                    name="myMovie" autofocus="">
                            </div>
                            <button class="btn btn-primary add" type="submit">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
    <script src="static/assets/js/autocomplete.js"></script>
</body>

</html>